{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div {{ react_component('Hello', { 'param': 'toto'}) }}>
        Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>
{% endblock %}
