* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #f7f7f7;
}
body {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
}

.img-fluid {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
